#underline {
 text-decoration: underline;
}
.types {
    color: brown;
    font-family:monospace;
}
p{
    color:brown;
}
#edit{
    color:rgb(219, 44, 44);
    font-style: italic;
    background-color:yellow;
}